@media screen and (max-width: 600px) /*----------------------------PHONE-----------------------*/
{
nav
{
  display: block;
  position: absolute;
  top: 50px;
  Right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

nav a
{
  text-decoration: none;
  color: #FFFFFF;;
}




nav input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
nav span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.navbar
{

  width: 100%;
  align-content: flex-start;
  
  background: #FFFFFF;

}
nav input:checked ~ ul
  {
    background: #305496; 
  }
  nav input:checked ~ a
  {
    color: #000000;
  }

/* page1 css */

.page1{
  display: flex;
  flex-wrap:  wrap;
  flex-direction: column;
  align-items: center;
}
video{
  max-width: 80%;
  align-items: center;
  order: 0;
}
.page1 aside{
  background-color: #FFF2CC;
  flex-basis: 80%;
  order: 1;
} 
.page1 #article3{
    background-color: #E2EFDA;
    flex-basis: 80%;
    order: 2;
  }
 .page1 #article2{
    background-color: #C6E0B4;
    flex-basis: 80%;
    order: 4;
  }
 .page1 #article1{
    background-color: #A9D08E;
    flex-basis: 80%;
    order: 6;
  }







}



/* ------------------------------------------------------------------TABLET--------------------------------------------------------------------------------*/



@media screen and (min-width: 601px) and (max-width: 1179px)
{
nav span
{
  visibility: hidden;
}
nav input 
{
  visibility: hidden;
}


nav ul{
  background-color: #4472c4;
}
nav ul{
  list-style-type: none;
  font-size: 24px;
  padding: 20px;
  vertical-align: middle;
  display: flex;
	justify-content: space-evenly;
  color: #FFFFFF;
}
.firstnav{
  flex-flow: row;
}

.page1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
video{
  max-width: 100%;
  justify-content: center;
  order: 9;
}
.page1 aside{
  background-color: #FFF2CC;
  flex-basis: 80%;
  order: 10;
} 
.page1 #article1 {
  background-color: #E2EFDA;
  padding: 20px;
  order: 6;
  display: flex;
  flex-direction: row-reverse;
}
.page1 #article1 img{
  max-width: 200px;
  padding: 10px;
}
.page1 #article2 {
  background-color: #C6E0B4;
  padding: 20px;
  order: 7;
  display: flex;
  flex-direction: row-reverse;
}
.page1 #article2 img{
  max-width: 200px;
  padding: 10px;
}
.page1 #article3 {
  background-color: #A9D08E;
  padding: 20px;
  order: 8;
  display: flex;
  flex-direction: row-reverse;
}
.page1 #article3 img{
  max-width: 200px;
  padding: 10px;
}



}



/* -------------------------------------------------------------------------PC-------------------------------------------------------------------------*/




@media screen and (min-width: 1180px)
{
nav span
{
  visibility: hidden;
}
nav input 
{
  visibility: hidden;
}
nav ul{
  background-color: #4472c4;
}
nav ul{
  list-style-type: none;
  font-size: 30px;
  padding: 40px;
  vertical-align: middle;
  display: flex;
	justify-content: space-evenly;
  color: #FFFFFF;
}
.firstnav{
  flex-flow: row;
}

.page1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
video{
  max-width: 700px;
  width: 60%;
  flex-basis: 25%;
}
.page1 #article1{
  background-color: #E2EFDA;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
}
.page1 #article2{
  background-color: #C6E0B4;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
}
.page1 #article3{
  background-color: #A9D08E;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
}

aside{
  align-items: right;
  flex-basis: 100%;
  width: 300px;
}




}


/* --------------------------------------------------------------------------------------------------------------------------------------------------*/





footer{
  background-color: #D6DCE4;
}


#cookieboxflex{
  z-index: 9999;
  background-color: #C65911;
  border-style: solid;
  display: flex;
  position: fixed;
  right:0;
  left: 0;
  bottom: 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-grow: 0;
  max-width: 600;
  padding: 20px;  
  margin-left: 15%;
  margin-right: 15%;
}
p input{
  color: white;
  background-color: #000000;
}
p input:hover{
  background-color: #414241;
}
p input:active ~ #cookieboxflex{
  visibility: hidden;
}


nav a:visited {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}