section{
    background-image: url("https://cdn.pixabay.com/photo/2021/09/20/21/32/lake-6641880__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 600px;
    background-color: teal;
    }

p{

}